@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

* {
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    background-color: #1a1919;
}

.container {
    margin-top: 3%;
    margin-left: 5%;
    width: 90%;
    background-color: #212122;
    border-radius: 20px;
    box-shadow: -2px 4px 20px black;
}

p {
    font-size: 50px;
    display: flex;
    justify-content: center;
}