@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

* {
    text-decoration: none;
}

body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.background {
    margin-top: -26px;
    margin-left: -339px;
    filter: blur(10px);
    top: 0;
    left: 0;
    position: fixed;
}

.container {
    opacity: 0.8;
    width: 1200px;
    height: auto;
    background-color: #212224;
    border-radius: 20px;
    margin-left: 42px;
    box-shadow: -2px 4px 20px black;
    margin-top: 5px;
}

.tools a {
    margin: 19px;
    background: linear-gradient(to top, orange 0%, orange 4px, transparent 4px) no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s;
    color: white;
}

.tools a:hover {
    background-size: 100% 100%;
}

.tools {
    text-align: end;
    justify-content: flex-end;
    position: relative;
    top: -50px;
}

.title {
    text-align: left;
    left: 21px;
    position: relative;
}

.title p img {
    max-width: 40px;
    border-radius: 13px;
}

.title p span {
    top: -11px;
    position: relative;
    margin: 8px;
    font-size: 23px;
}